body 
{

	margin: 0;
	font-size: 1.5em;
	line-height: 2em;
	background: #fafafa;
	color: #333;
	
}

main
{

	margin: 0 0 2em 0;

}

.colonne
{

	background: white;
	padding: 2em;
	box-shadow: inset 0 0 0.5em #bbb, 0 0 0.5em white;
	border-radius: 0.3em;
	text-align: justify;

}

.colonne h1
{

	border-bottom: 1px solid black;
	padding: 0 0 0 0.4em;
	margin: 0 0 0.8em 0;
	line-height: 1.2em;
	letter-spacing: 0.1em;
	color: #555;

}

.colonne h1~p em
{

	color: #555;
	font-style: normal;

}

.image
{

	border: 0.3em solid white;
	box-shadow: 0 0 1em black;

}

.float-left
{

	float: left;
	margin: 1em 2em 1em 0;

}

.float-right
{

	float: right;
	margin: 1em 0 1em 2em;

}